<h2 class="title is-3">All Products</h2>

    <% @categories.each do |category|%>
    <ul class="ml-5">
        <li>
            <%= link_to category.name, category %>
        </li>
    </ul>

<% end %>
