<h2 class="title is-3">Sale Results</h2>

<% @products.each do |product|%>
    
    <figure class="image is-48x48">
        <img src=<%= product.photo_image %> alt=<%= product.name %>>
    </figure>


    <%= link_to product.name, product %>
    <p><%=product.description%></p>
        
<% end %>